POSTGRES_USER=abcd
POSTGRES_PASSWORD=abcd
POSTGRES_DB=abcd
PORT=4040
NODE_ENV=development
JWT_SECRET=nottellingyou
RFID_SALT=nottellingyou
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_ADDRESS=example@example.com