version: '3'
services:
  rv-backend:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        - NODE_ENV=${NODE_ENV:-development}
    ports:
      - ${PORT:-8081}:${PORT:-8081}
    environment:
      - PORT=${PORT:-8081}
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - NODE_ENV=${NODE_ENV}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ADMIN_SECRET=${JWT_ADMIN_SECRET}
    volumes:
      - ./src:/usr/src/app/src

  db:
    image: postgres:10-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
