on:
  push:
    branches: [ develop, master, '*' ]
  pull_request:
    branches: [ develop, master ]
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: rv
          POSTGRES_PASSWORD: unsecure
          POSTGRES_DB: rv_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install NPM dependencies
        run: npm ci
      - name: Execute test suites
        run: npm test
        env:
          NODE_ENV: development
          PORT: 8080
          DB_HOST: localhost
          DB_USERNAME: rv
          DB_PASSWORD: unsecure
          DB_NAME: rv
          DB_PORT: 5432
          JWT_SECRET: unsecure
          JWT_ADMIN_SECRET: unsecure
      - name: Generate the code coverage report
        uses: codecov/codecov-action@v1
      - name: Enable experimental docker build features
        uses: docker/setup-buildx-action@v1
      - name: Login into Github Docker Reigstry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and push with tag :latest-dev
        uses: docker/build-push-action@v2
        if: github.ref == 'refs/heads/develop'
        with:
          context: .
          push: true
          tags: ghcr.io/tkoaly/rv-backend/rv-backend:latest-dev
      - name: Build and push with label :latest
        uses: docker/build-push-action@v2
        if: github.ref == 'refs/heads/master'
        with:
          context: .
          push: true
          tags: ghcr.io/tkoaly/rv-backend/rv-backend:latest
      - name: Extract the release tag name from commit reference
        id: tag_name
        run: echo "::set-output tag_name=${GITHUB_REF//refs\/tags\/}" >> $GITHUB_ENV
      - name: Push image with labels :latest-release and with the release version as the label
        uses: docker/build-push-action@v2
        if: github.event_name == 'release'
        with:
          context: .
          push: true
          tags: |
            ghcr.io/tkoaly/rv-backend/rv-backend:latest-release
            ghcr.io/tkoaly/rv-backend/rv-backend:${{ steps.tag_name.outputs.tag_name }}
